{% extends "base.html" %}
{% block titulo %} Libros Favoritos{% endblock %}
{% block contenido %}
{% include "nav.html" %}
<div class="container">
  <h1 class="text-center py-4">Libros Favoritos!</h1>

  <h2>Felicitaciones te pudiste Logear a Libros Favoritos!</h2>
  <h3>ID: {{request.session.usuario.id}}</h3>
  <h3>Usuario: {{request.session.usuario.name}} </h3>
  <h3>Correo: {{request.session.usuario.email}} </h3>
  <h3>Rol: {{request.session.usuario.rol}} </h3>

  <hr>
  <hr>

  <div class="row">
    <div class="col-6">
      <h3>Agrega un nuevo libro</h3>
      <form action="/nuevo-libro" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="title">Titulo</label>
          <input type="text" name="title" class="form-control" id="title">
        </div>
        <div class="form-group">
          <label>Descripción</label>
          <textarea name="description" cols="25" rows="10" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Añadir Libro</button>
      </form>
    </div>
    <div class="col-6 ">
      <h2 class= "text-center">Lista de libros</h2>
      {% if books %}
      {% for book in books %}
      <ul>
        <a href="book/{{ book.id }}" style=" color:black">{{ book.title }}</a>
        <li>Descripción: {{book.description}}</li>
        <li>Agregado por: {{book.uploaded_by.firstname}} {{ book.uploaded_by.lastname}}</li>
        <li>Fecha Subida: {{ book.created_at | date:'d-M-Y' }}</li>
        <li>Este libro le gusta a :</li>
        <ul>
          {% for user in book.users_who_like.all  %}
          <li>{{ user.firstname }} {{ user.lastname }} </li>
          {% endfor %}

        </ul>
      </ul>
      {% endfor %}
      {% endif %}
    </div>
  </div>

</div>
<br>
{% endblock %}